.app-container {
  width: 60%;
  text-align: center;
  margin: 30px auto;
  background: palegreen;
}

.scene-container {
  background: palegoldenrod;
}

.x3d {
  border: "none";
  height: 100%;
  width: 100%;
}

.view-container {
  border: 1px solid blue;
}
